@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-yellow: #ffc312;
$primary-blue: #357bad;
$darkgray: #afafaf;
$info-padding: 0.8em;

#reviews-root {
  background: #f5f2e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
}

#add-review-btn {
  all: unset;
  width: 95%;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  background: $primary-blue;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-top: 1em;
  font-size: 100%;
}

.review-input {
  width: 100%;
}

#add-review-btn:hover {
  background: lighten($primary-blue, 10%);
}

#add-review-btn:active {
  background: darken($primary-blue, 5%);
}

#review-add-form {
  width: 15em;
}

#category-select {
  width: 100%;
}

#reviews-container {
  width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 678px) {
    width: 20em;
  }
  @media only screen and (max-width: 320px) {
    width: 18em;
  }
}

#reviews-title {
  font-size: 2em;
}

#subtitle-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.reviews-subtitle {
  font-size: 1em;
}

#subtitle-item {
  text-align: center;
}

.review-remove-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.review-remove-btn {
  all: unset;
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  background: $primary-blue;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-top: 1em;
  font-size: 100%;
}

.review-remove-btn:hover {
  background: lighten($primary-blue, 10%);
}

.review-remove-btn:active {
  background: darken($primary-blue, 5%);
}
