<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> My Cellar</title>
    <link rel="stylesheet" type="text/css" href="css/cellar.css">
  </head>
  <body>

  <h1 class="page_heading"> Welcome to my Cellar </h1>

  <div class="cellar_navbar">
    <a href="/favorites"><h3> My Favorites </h3></a>
    <a href="/wishlist"><h3> My Wishlist </h3></a>
    <a href="#"><h3> Sign Out </h3></a>
  </div>
      <!-- {{username}}'s cellar, need info about user -->
  <ul class="list_container">
    {{#cellar}}
    <div class="info">
      <li><strong>{{title}}</strong></li>
      <li>{{category}} </li>
      <li>{{creator}}</li>
      <li>{{review}}</li>
    <h6>***To add price and notes click Update ***</h6>
      <div class="cellar_buttons">
    <form action="/delete-cellar" method="POST">
        <input type="hidden" name="cellarId"
        value="{{id}}" />
        <input type="submit" value="Remove" />
      </form>
        <a class="update_button" href="/update-cellar/{{id}}"> Update </a>
     </div>
   </div>
      {{/cellar}}
    </ul>
  </body>
</html>
