<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> My Cellar</title>
  </head>
  <body>

    <h1> Welcome to my Cellar </h1>

    <a href="/favorites"><h3> My Favorites </h3></a>
    <a href="/wishlist"><h3> My Wishlist </h3></a>

      <!-- {{username}}'s cellar, need info about user -->
  </body>
</html>
