<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> My Cellar</title>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" type="text/css" href="css/cellar.css">
  </head>
  <body>


<!-- Nav Bar -->
    <div id="nav">
      <div id="nav-main">
        <div id="nav-burger" onclick="toggleBurger(this)">
          <div id="burger-top"></div>
          <div id="burger-mid"></div>
          <div id="burger-bot"></div>
        </div>
        <div id="nav-title">
          <a href="/myCellar">
          <div class="nav-logo">C</div>ellar
          </a>
        </div>
        <div id="nav-links">
          <div class="nav-link-container"><a class="nav-link"href="/cellar">My Cellar</a></div>
          <div class="nav-link-container"><a class="nav-link"href="/reviews">My Reviews</a></div>
          <div class="nav-link-container"><a class="nav-link"href="/logout">Logout</a></div>
        </div>
        <div id="nav-search">
          <form id="nav-search-form" action="/search/beer" method="post" >
            <input id="nav-search-item-textbox" type="textbox" name="itemName">
          </form>
        </div>
      </div>
      <div id="nav-links-dropdown">
        <div class="nav-link-container"><a class="nav-link-drop" href="/cellar">My Cellar</a></div>
        <div class="nav-link-container"><a class="nav-link-drop"href="/reviews">My Reviews</a></div>
        <div class="nav-link-container"><a class="nav-link-drop" href="/logout">Logout</a></div>
      </div>
    </div>
<!-- End Nav Bar -->
<div id="cellar-root">
  <h1 class="page_heading"> Welcome to {{username}}'s Cellar </h1>
  <div id="cellar-results-container">
  {{#cellers}}
    <div class="cellar-result-container">
      <div class="search-info-container">
        <div class="item-image">
          <i class="fas fa-beer fa-3x"></i>
        </div>
        <div class="item-title-container">
          <div class="item-title"> {{ title }} </div>
          <div class="item-category"> {{ category }} </div>
          <div class="item-creator">  {{ creator }} </div>
          <div class="item-review">  {{ review }} </div>
          <div class="item-price"> {{price}} </div>
          <div class="item-notes"> {{notes}} </div>
        <h6>***To add price and notes click Update ***</h6>
        </div>
      </div>
      <div class="cellar_buttons">
        <form action="/delete-cellar" method="POST">
          <input type="hidden" name="cellarId"
          value="{{id}}" />
          <input class="cellar-btn"  type="submit" value="Remove" />
        </form>
        <form action="/update-cellar/{{id}}" method="get">
          <input type="hidden" name="cellarId"
          value="{{id}}" />
          <input class="cellar-btn" type="submit" value="Update" />
        </form>
      </div>
    </div>
  {{/cellers}}
  </div>
  </div>

</body>

  <script>
    const toggleBurger = function(el) {
      el.classList.toggle("change")
      const navLinksEl = document.getElementById("nav-links-dropdown")
      navLinksEl.classList.toggle("open")
    }
  </script>

</html>
