<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delete Item from Wishlist</title>
  </head>
  <body>
    <a href="/favorites"><h3> My Favorites </h3></a>
    <a href="/cellar"><h3> My Cellar </h3></a>
    <a href="/wishlist"><h3> My Wishlist </h3></a>

    <h3> {{beverage}} has been deleted.... </h3>


  </body>
</html>
