<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delete Item from Wishlist</title>
    <link rel="stylesheet" type="text/css" href="css/cellar.css">
  </head>
  <body>
    <div class="cellar_navbar">
      <a href="/favorites"><h3> My Favorites </h3></a>
      <a href="/cellar"><h3> My Cellar </h3></a>
      <a href="/wishlist"><h3> My Wishlist </h3></a>
      <a href="#"><h3> Sign Out </h3></a>
    </div>

    <h3> {{title}} has been deleted.... </h3>


  </body>
</html>
