<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delete Item from Wishlist</title>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="css/cellar.css">
  </head>
  <body>
    <div id="nav">
      <div id="nav-main">
        <div id="nav-burger" onclick="toggleBurger(this)">
          <div id="burger-top"></div>
          <div id="burger-mid"></div>
          <div id="burger-bot"></div>
        </div>
        <div id="nav-title">
          <a href="/myCellar">
          <div class="nav-logo">C</div>ellar
          </a>
        </div>
        <div id="nav-links">
          <div class="nav-link-container"><a class="nav-link"href="/cellar">My Cellar</a></div>
          <div class="nav-link-container"><a class="nav-link"href="/reviews">My Reviews</a></div>
          <div class="nav-link-container"><a class="nav-link"href="/profile">Profile</a></div>
        </div>
        <div id="nav-search">
          <form id="nav-search-form" action="/search/beer" method="post" >
            <input id="nav-search-item-textbox" type="textbox" name="itemName">
          </form>
        </div>
      </div>
      <div id="nav-links-dropdown">
        <div class="nav-link-container"><a class="nav-link"href="/cellar">My Cellar</a></div>
        <div class="nav-link-container"><a class="nav-link"href="/reviews">My Reviews</a></div>
        <div class="nav-link-container"><a class="nav-link"href="/profile">Profile</a></div>
      </div>
    </div>

    <h3> {{title}} has been deleted.... </h3>


  </body>
  <script>
      const toggleBurger = function(el) {
        el.classList.toggle("change")
        const navLinksEl = document.getElementById("nav-links-dropdown")
        navLinksEl.classList.toggle("open")
      }
  </script>
</html>
