<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Favorites</title>
  </head>
  <body>
    <a href="/favorites"><h3> My Favorites </h3></a>
    <a href="/cellar"><h3> My Cellar </h3></a>
    <a href="/wishlist"><h3> My Wishlist </h3></a>

    <h1> My Favorites </h1>

    <ul>
      {{#favorites}}
        <li>{{beverage}}</li>
        <label>${{price}}</label>
        <label>Notes: {{notes}} </label>
      {{/favorites}}
    </ul>
  </body>
</html>
