<!DOCTYPE html>
<html class="text-center text-sm-center text-md-center text-lg-center text-xl-center">

<head>
    <title>myCellar Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Getting Started</title>
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiri">
</head>

<body style="background-color: rgb(98,63,63);background-image: url('https://images.unsplash.com/photo-1519092796169-bb9cc75a4b68?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2a093dfa81e22a74dd1809d1923059d9&auto=format&fit=crop&w=800&q=60');background-size: cover;background-position: center;">

  <div class="container" style="margin-top: 5%;">
        <div id="search-container">
            <div id="search-bar">
                <form id="search-form" action="/search/beer" method="post" >
                    <input id="search-item-textbox" type="textbox" name="itemName">
                    <input id="search-item-btn" type="submit" value="Search">
                </form>
            </div>
        </div>


        <div id='links' style="margin-top:3%;">
            <section style="background-repeat: no-repeat;background-size: cover;">
                <div class="col" style="margin-top:3%;margin-bottom: 3%;" style="text-align: -webkit-center"><a href="#/mycellar" style="color: #ffc312;font-size: 60px;padding-right: auto;padding-left: auto;width: 16px;margin: 0;margin-left: 0;font-family: Amiri, serif;">myCellar</a></div>

                <div class="col" style="margin-top:3%;margin-bottom: 3%;" style="text-align: -webkit-center"><a href="#/myreviews" style="font-size: 60px;font-family: Amiri, serif;color: rgb(255,195,18);">myReviews</a></div>

                <div class="col" style="margin-top:3%;margin-bottom: 1%;" style="text-align: -webkit-center"><a href="#/myprofile" style="font-size: 60px;font-family: Amiri, serif;color: rgb(255,195,18);">myProfile</a></div><button class="btn btn-primary text-uppercase" type="button" style="font-family: Amiri, serif; font-size: 40px; margin-top: 5%;width: 25%;color: rgb(255,255,255); text-align: -webkit-center" ;">Sign Out</button>
              </section>

        </div>
    <!-- </div> -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
