

 <!doctype html>
 <html lang="en">
   <head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" type="text/css" href="/css/portal.css">
     <link rel="stylesheet" href="/css/navigation.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   </head>
   <body>
     <div class="bg">
     <!-- Nav Bar -->
         <div id="nav">
           <div id="nav-main">
             <div id="nav-burger" onclick="toggleBurger(this)">
               <div id="burger-top"></div>
               <div id="burger-mid"></div>
               <div id="burger-bot"></div>
             </div>
             <div id="nav-title">
               <a href="/myCellar">
               <div class="nav-logo">C</div>ellar
               </a>
             </div>
             <div id="nav-links">
               <div class="nav-link-container"><a class="nav-link"href="/cellar">My Cellar</a></div>
               <div class="nav-link-container"><a class="nav-link"href="/reviews">My Reviews</a></div>
               <div class="nav-link-container"><a class="nav-link"href="/profile">Profile</a></div>
             </div>
             <div id="nav-search">
               <form id="nav-search-form" action="/search/beer" method="post" >
                 <input id="nav-search-item-textbox" type="textbox" name="itemName">
               </form>
             </div>
           </div>
           <div id="nav-links-dropdown">
             <div class="nav-link-container"><a class="nav-link"href="/cellar">My Cellar</a></div>
             <div class="nav-link-container"><a class="nav-link"href="/reviews">My Reviews</a></div>
             <div class="nav-link-container"><a class="nav-link"href="/profile">Profile</a></div>
           </div>
         </div>
     <!-- End Nav Bar -->

    <!-- Main Content -->
     <div id="frontPage">
        <div id='links'>
          <a href="/cellar">myCellar</a>
          <a href="/reviews">myReviews</a>
          <a href="/profile">myProfile</a>
          <form action="/logout" method="post">
                 <button id="button" type="submit" class="btn btn-outline-warning btn-lg" >Sign Out</button>
               </form>
        </div>
     </div>
    <!-- End Main Content -->
   </body>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
   <script>
     // Navigation
     const toggleBurger = function(el) {
       el.classList.toggle("change")
       const navLinksEl = document.getElementById("nav-links-dropdown")
       navLinksEl.classList.toggle("open")
     }
   </script>
 </html>
