<html>
<head>
  <link rel="stylesheet" href="/css/search.css">
  <link rel="stylesheet" href="/css/navigation.css">
  <title>Reviews</title>
<head>
<body>

<!-- Nav Bar -->
<div id="nav">
  <div id="nav-main">
    <div id="nav-burger" onclick="toggleBurger(this)">
      <div id="burger-top"></div>
      <div id="burger-mid"></div>
      <div id="burger-bot"></div>
    </div>
    <div id="nav-title">
      <a href="/myCellar">
      <div class="nav-logo">C</div>ellar
      </a>
    </div>
    <div id="nav-links">
      <div class="nav-link-container"><a class="nav-link"href="/cellar">My Cellar</a></div>
      <div class="nav-link-container"><a class="nav-link"href="/reviews">My Reviews</a></div>
      <div class="nav-link-container"><a class="nav-link"href="/logout">Logout</a></div>
    </div>
    <div id="nav-search">
      <form id="nav-search-form" action="/search/beer" method="post" >
        <input id="nav-search-item-textbox" type="textbox" name="itemName">
      </form>
    </div>
  </div>
  <div id="nav-links-dropdown">
    <div class="nav-link-container"><a class="nav-link-drop" href="/cellar">My Cellar</a></div>
    <div class="nav-link-container"><a class="nav-link-drop"href="/reviews">My Reviews</a></div>
    <div class="nav-link-container"><a class="nav-link-drop" href="/logout">Logout</a></div>
  </div>
</div>
<!-- End Nav Bar -->


<form action="/reviews" method="POST">
  Product:<br>
  <input type="text" name="product" value="{{product}}">
  <br>
  Rating (1-5):<br>
  <input type="integer" name="rating">
  <br><br>
  Category:<br>
  <select name="category">
  <option value="spirit">Spirit</option>
  <option value="wine">Wine</option>
  <option value="beer">Beer</option>
  <option value="other">Other</option>
</select>
  <input type="submit" value="Submit">
</form> 

<ul id="reviewsTable" >
{{#reviews}}
    <li>
    {{product}}
    {{rating}}
    {{category}}
    <form action="/reviews/{{id}}/delete" method="post">
      <input type="submit" value="delete">
    </form>
    </li>
{{/reviews}}

</ul>


</body>
<script>
  const toggleBurger = function(el) {
    el.classList.toggle("change")
    const navLinksEl = document.getElementById("nav-links-dropdown")
    navLinksEl.classList.toggle("open")
  }
</script>
</html>