<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/search.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <title>Search</title>
</head>
<body>
  <div id="search-root">
    <div id="search-container">
      <div id="search-bar">
        <form id="search-form" action="/search" method="post" >
          <input id="search-item-textbox" type="textbox" name="itemName">
          <input id="search-item-btn" type="submit" value="Search">
        </form>
      </div>
      <div id="search-filters">
        <a class="filter-tab" data-filter="beer" href="/search/beer">Beer</a>
        <a class="filter-tab" data-filter="wine" href="/search/wine">Wine</a>
        <a class="filter-tab filter-tab-right" data-filter="whisky" href="/search/whisky">Whisky</a>
      </div>
    <div id="search-results-container">
      {{#searchResults.beers}}
        <div class="search-result-container">
          <div class="search-info-container">
            <div class="item-image">
              <i class="fas fa-beer fa-3x"></i>
            </div>

            <div class="item-title-container">
              <div class="item-title"> {{ beerName }} </div>
              <div class="item-brewery"> {{ breweryName }} </div>
              <div class="item-style">  {{ beerStyle }} </div>
            </div>


            <div class="review-info-container">
              <div class="item-abv"> 
                {{ #beerAbv }} {{ beerAbv }} % ABV {{/beerAbv}}
                {{ ^beerAbv }} NA % ABV {{/beerAbv}}
              </div>
              <div class="item-review"> 
                {{ reviewAverage }} <i class="fas fa-star"></i>
              </div>
            </div>
          </div>


          <div class="item-add-container">
            <form id="item-add-review" action="" method="post" >
              <input class="item-add-btn" type="submit" value="Review">
            </form>
            <form id="item-add-cellar" action="" method="post" >
              <input class="item-add-btn" type="submit" value="Add to Cellar">
            </form>
          </div>
        </div>
      {{/searchResults.beers}}
      {{#searchResults.wines}}
        <div class="search-result-container">
          <div class="search-info-container">
            <div class="item-image">
              <i class="fas fa-wine-glass-alt fa-3x"></i>
            </div>

            <div class="item-title-container">
              <div class="item-title"> {{ title }} </div>
              <div class="item-brewery"> {{ winery }} </div>
              <div class="item-style">  {{ variety }} </div>
            </div>


            <div class="review-info-container-wine">
              <div class="item-review-wine"> 
                {{ points }} <i class="fas fa-star"></i>
              </div>
            </div>
          </div>


          <div class="item-add-container">
            <form id="item-add-review" action="" method="post" >
              <input class="item-add-btn" type="submit" value="Review">
            </form>
            <form id="item-add-cellar" action="" method="post" >
              <input class="item-add-btn" type="submit" value="Add to Cellar">
            </form>
          </div>
        </div>
      {{/searchResults.wines}}
    </div>
    </div>
  </div>
</body>
<script>
  console.log("Hello")
  const path = window.location.pathname.split("/").pop()
  const el = document.querySelector(`[data-filter='${path}'`)
  el.classList.add("active")
</script>
</html>