<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Search</title>
  </head>
  <body>
        <div class="search-result-container">

          <div class="search-info-container">
            <div class="item-image">
              <p>Image</p>
            </div>

            <div class="item-title-container">
              <div class="item-title"> {{ beer_name }} </div>
              <div class="item-brewery"> Brewery: {{ brewery_name }} </div>
              <div class="item-style">  Style: {{ beer_style }} </div>
            </div>


            <div class="review-info-container">
              <div class="item-abv"> ABV: {{ beer_abv }} </div>
              <div class="item-review"> Rating: {{ review_overall }} </div>
              <div class="item-add-container">
            </div>
          </div>


          <div class="item-add-container">
            <form id="item-add-review" action="" method="post" >
              <input class="item-add-btn" type="submit" value="Review">
            </form>
            <form id="item-add-cellar" action="" method="post" >
              <input class="item-add-btn" type="submit" value="Add to Cellar">
            </form>
          </div>

        </div>
  </body>
</html>
