<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update Wishlist</title>
  </head>
  <body>
    <a href="/favorites"><h3> My Favorites </h3></a>
    <a href="/cellar"><h3> My Cellar </h3></a>
    <a href="/wishlist"><h3> My Wishlist</h3></a>

    Enter the Updated Information 

    <form action="/update-wishlist" method="POST">
      <input type="hidden" name="wishlistId" value="{{id}}" />
      <input type="text" name="beverage" value="{{beverage}}" />
    </br>
      <input type="number" name="price" value="{{price}}" />
    </br>
      <input type="text" name="notes"
      value="{{notes}}" />
    </br>
      <input type="submit" value="Update" />
    </br>
</form>
  </body>
</html>
