<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update Wishlist</title>
    <link rel="stylesheet" type="text/css" href="css/cellar.css">
  </head>
  <body>

    <div class="cellar_navbar">
      <a href="/favorites"><h3> My Favorites </h3></a>
      <a href="/cellar"><h3> My Cellar </h3></a>
      <a href="/wishlist"><h3> My Wishlist </h3></a>
      <a href="#"><h3> Sign Out </h3></a>
    </div>

    <h3 id="update_title"> Enter Information Below </h3>

    <form action="/update-favorites" method="POST">
      <input type="hidden" name="cellarId" value="{{id}}" />
      <h3>{{title}}</h3>
    </br>
      <input type="number" name="price" value="{{price}}" placeholder="Enter Price Here....." />
    </br>
      <input type="text" name="notes" value="{{notes}}" placeholder="Enter Special Notes Here...." />
    </br>
      <input type="submit" value="Update" />
    </br>
    </form>

  </body>

</html>
