
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  background: url("cellar 1.jpg") no-repeat center;
  background-size: cover;
  /* background-position: 0 0;
  background-size: 100% 100%;; */
font-family: "Roboto", sans-serif;

}


/* #frontPage{
  background-color: brown;
  width: 50%;
  height: -webkit-fill-available;
  text-align: -webkit-center; */

}

#frontPageText{
  text-align: -webkit-center;
  width: 100%;
  position: relative;
  padding-top: 10%;
  color: white;
  font-family: "Roboto", sans-serif;
}
#button{
  margin-top: 5%;
  font-family: "Roboto", sans-serif;
}

label{
  font-size: 4rem;
}

p{
  font-size: 1.5rem;
}
