@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
<<<<<<< HEAD
  background: url("cellar 1.jpg") no-repeat center fixed;
  background-position: 0 0;
  background-size: 100% 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
=======
  background: url("cellar 1.jpg") no-repeat center;
  background-size: cover;
  /* background-position: 0 0;
  background-size: 100% 100%;; */
font-family: "Roboto", sans-serif;

>>>>>>> master
}

#frontPage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

#frontPageText {
  text-align: -webkit-center;
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}

#button {
  font-family: "Roboto", sans-serif;
}

#links {
  background: rgb(0, 0, 0, 0.6);
  border: 1px solid rgb(0, 0, 0, 0.7);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 4rem 2rem 4rem;
}

#links a {
  width: 100%;
  color: #ffc312;
  font-size: 250%;
  margin-bottom: 2rem;
  border-bottom: 3px solid transparent;
  display: inline-block;
  text-decoration: none;
}
#links a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #ffc312;
  transition: width 0.3s;
}

#links a:hover::after {
  width: 100%;
}

label {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}
