@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  background: #f5f2e8;
}

#search-root {
  background: #f5f2e8;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#search-container {
  background: white;
  width: 30em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#search-bar {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 100%;
  padding: 2rem;
  height: 2.5em;
}

#search-item-textbox {
  width: 70%;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  font-size: 120%;
}

#search-item-btn {
  color: white;
  width: 25%;
  font-size: 120%;
  font-weight: 600;
  letter-spacing: 1px;
  background: #ffcc00;
  border: 1px solid #f9f9f9f9;
  border-radius: 5px;
}

#search-filters {
  border-top: 1px solid #e2e2e2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-tab {
  color: black;
  display: inline-block;
  text-decoration: none;
  font-size: 100%;
  background-color: #f0f0f0;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 2px;
  width: 33.4%;
  padding: 12px;
  cursor: pointer;
}

.filter-tab-right {
  border-right: none;
}

.active.filter-tab {
  background: white;
  border-bottom: none;
}

.filter-tab:hover {
}

.filter-tab:active {
  background: white;
  border-bottom: none;
}

#search-results-container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
  width: 80%;
}

.search-result-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #eeeeee;
  width: 100%;
}

.search-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.6em;
  padding-bottom: 0.8em;
  width: 100%;
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding-right: 1em;
  height: 4em;
  width: 4em;
}

.item-title-container {
  display: flex;
  flex-direction: column;
  padding-right: 0.8em;
}

.item-title {
  text-align: left;
  font-size: 1em;
}

.item-brewery {
  text-align: left;
  font-size: 0.8em;
  padding-top: 0.4em;
}

.item-style {
  text-align: left;
  font-size: 0.7em;
  padding-top: 0.4em;
}

.review-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30%;
  margin-left: auto;
  border-left: 2px solid #eeeeee;
}

.review-info-container-wine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 30%;
  margin-left: auto;
}

.item-abv {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 0.5em;
}

.item-review {
  padding-top: 0.5em;
}

.item-review-wine {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.item-add-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.8em;
}
